beautifulsoup4
requests
mammoth
markdownify
numpy
python-pptx
pandas
openpyxl
xlrd
puremagic
pydub
olefile
youtube-transcript-api
SpeechRecognition
pathvalidate
charset-normalizer
openai
modelscope
huggingface_hub
slowapi
limits
python-multipart
uvicorn
sqlalchemy
mypy

fastapi
pydantic
setuptools

streamlit
