# Core dependencies
beautifulsoup4~=4.12.3
requests~=2.32.3
mammoth~=1.9.0
markdownify~=0.14.1
numpy
python-pptx==1.0.2
pandas~=2.2.3
openpyxl==3.1.5
xlrd==2.0.1
puremagic~=1.28
pydub~=0.25.1
olefile~=0.47
youtube-transcript-api==0.6.3
SpeechRecognition==3.14.0
pathvalidate==3.2.3
charset-normalizer==3.4.1
openai~=1.59.7
# magic-pdf[full] --extra-index-url https://wheels.myhloli.com
modelscope~=1.22.2
huggingface_hub~=0.27.1
slowapi~=0.1.9
limits~=4.0.1
python-multipart~=0.0.20
uvicorn>=0.34.0
sqlalchemy>=2.0.37
# Development dependencies (optional, install with `-r dev-requirements.txt`)
mypy>=1.0.0

fastapi~=0.115.7
pydantic~=2.10.5
setuptools~=75.1.0

streamlit~=1.29.0